.faq-section {
    padding: 60px 20px 50px 20px;
    background-color: #030405;
}

.faq-section .section-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    color: #FFFFFF;
}

.faq-container {
    max-width: 900px;
    margin: 0 auto;
}

.faq-button {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: #000000;
    color: #F0F4EE;
    border: 2px solid #F62C62;
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    text-transform: none;
}

.faq-button::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #F62C62, #F39C12);
    z-index: -1;
    filter: blur(3px);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.faq-button:hover::before,
.faq-button:focus::before {
    opacity: 0.5;
}

.faq-answer {
    background: linear-gradient(to bottom, rgba(246, 44, 98, 0.6), #030405);
    color: #F0F4EE;
    padding: 15px 20px;
    margin-top: -10px;
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    display: none;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.faq-answer.active {
    max-height: 1000px;
    opacity: 1;
}

.faq-button::after {
    content: '+';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.faq-button.active::after {
    transform: translateY(-50%) rotate(45deg);
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
    .faq-section {
        padding: 10px 20px 50px 20px;
    }
    
    .faq-section .section-heading {
        font-size: 2.4rem;
    }

    .faq-button {
        font-size: 1.1rem;
        padding: 12px 18px;
    }

    .faq-answer {
        font-size: 1rem;
        padding: 12px 18px;
    }
}

@media screen and (max-width: 768px) {
    .faq-section {
        padding: 10px 15px 30px 15px;
    }

    .faq-section .section-heading {
        font-size: 2.2rem;
        margin-bottom: 30px;
    }

    .faq-button {
        font-size: 1rem;
        padding: 10px 15px;
    }

    .faq-answer {
        font-size: 0.9rem;
        padding: 10px 15px;
    }
}

@media screen and (max-width: 480px) {
    .faq-section .section-heading {
        font-size: 1.8rem;
    }

    .faq-button {
        font-size: 0.9rem;
    }

    .faq-answer {
        font-size: 0.8rem;
    }
}